body{
    background-color: gainsboro;

    }
    h1{
       background-color: darkgrey;
    }
    p{
        color: blue;
    }
    img{
        background-color: mediumblue;
    }
    .mushroom{
        background-color: whitesmoke;
    }
    .Cactus{
        background-color: ghostwhite;
    }
    .circular{
        border-radius: 100%;
    }

    #heading{
    color: red;
    }